# Pointed to by shell rc file
#
## Alias section 
alias cp='cp -i'                                                # Confirm before overwriting something
alias df='df -h'                                                # Human-readable sizes
alias free='free -m'                                            # Show sizes in MB
alias gitu='git add . && git commit && git push'		# Git add all, commit $ push
#alias cd='cd & ls'
alias cdr='cd `git rev-parse --show-toplevel`/\!*'		# Go to root git dir
alias lsa='ls -A'						# list all
alias ls='ls --color=auto'					# enable colors for ls 
alias f='ranger' 						# terminal filemanager
alias plz='sudo' 						# Ask kindly
alias suod='sudo' 					# Typos

alias caps='xdotool key Caps_Lock'				#capslock (because it should be disabled by default)

# reload sh and config files
function reload() {
	source $HOME/.zshrc
	pkill -USR1 -x sxhkd
}

# Start a nested xsession
function xnest() {
Xephyr -br -ac -noreset -screen 800x600 :1 &
#DISPLAY=:1 bspwm
}
