# Pointed to by shell rc file
#
## Alias section 
alias cp='cp -i'                                                # Confirm before overwriting something
alias df='df -h'                                                # Human-readable sizes
alias free='free -m'                                            # Show sizes in MB
alias gitu='git add . && git commit && git push'
#alias cd='cd & ls'
alias cdr='cd `git rev-parse --show-toplevel`/\!*'
#list all
alias lsa='ls -A'
#terminal filemanager
alias f='ranger'

#capslock (because it should be disabled by default)
alias caps='xdotool key Caps_Lock'

#reload sh and config files
function reload() {
	source $HOME/.zshrc
	pkill -USR1 -x sxhkd
}

function xnest() {
Xephyr -br -ac -noreset -screen 800x600 :1 &
DISPLAY=:1 bspwm
}
