@import "styles/colors.rasi"

* {
    lines: 15;
    columns: 1;
    background-color: #00000065;
    border-color: #00000000;
    text-color: #EFEFEF;
    font: "SF Pro Text 16";
}

window {
    width:      			450px;
    padding:    			30px;
    border:					0px;
    border-radius:      0px;
    location:           center;
	 border-radius:		25;
    x-offset:           0;
    y-offset:           -14%;
}

entry {
    expand: 				true;
    width: 					150px;
    text-color: 			#EFEFEF;
}
